.hdr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(19, 19, 160);
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0px 180px;
}